{% extends 'accounts/base.html' %}

{% block content %}


<div class="product-items">
    <!-- single product -->
    {% for pro in product %}
    <div class="product">
        <div class="product-content">
            <div class="product-img">
                <img src='/image/{{pro.image}}' alt="product image">
            </div>
            <div class="product-btns">
                <button id = "pr{{pro.id}}" type="button" class="btn-cart cart"> add to cart
                    <span><i class="fas fa-plus"></i></span>
                </button>
                <button type="button" class="btn-buy"> buy now
                    <span><i class="fas fa-shopping-cart"></i></span>
                </button>
            </div>
        </div>

        <div class="product-info">
            <div class="product-info-top">
                <h2 class="sm-title"><b>{{pro.tagline}}</b></h2>
            </div>
            <a href="#" class="product-name"id = "namepr{{pro.id}}">{{pro.product_name}}</a>
            <p class="product-price">Rs {{pro.mrp}}</p>
            <p class="product-price">Rs {{pro.sp}} </p>
        </div>

        <div class="off-info">
            <h2 class="sm-title">{{pro.Discount}}% off</h2>
        </div>
    </div>
    {% endfor %}
</div>




    <div class = "product-collection">
        <div class = "container">
            <div class = "product-collection-wrapper">
                <!-- product col left -->
                <div class = "product-col-left flex">
                    <div class = "product-col-content">
                        <h2 class = "sm-title">men's shoes </h2>
                        <h2 class = "md-title">men's collection </h2>
                        <p class = "text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae consequatur facilis eligendi quibusdam voluptatibus exercitationem autem voluptatum, beatae architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                        <button type = "button" class = "btn-dark">Shop now</button>
                    </div>
                </div>

                <!-- product col right -->
                <div class = "product-col-right">
                    <div class = "product-col-r-top flex">
                        <div class = "product-col-content">
                            <h2 class = "sm-title">women's dresses </h2>
                            <h2 class = "md-title">women's collection </h2>
                            <p class = "text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae consequatur facilis eligendi quibusdam voluptatibus exercitationem autem voluptatum, beatae architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                            <button type = "button" class = "btn-dark">Shop now</button>
                        </div>
                    </div>

                    <div class = "product-col-r-bottom">
                        <!-- left -->
                        <div class = "flex">
                            <div class = "product-col-content-sale1 ">
                                <h2 class = "sm-title"><h5>summer sale</h5> </h2>
                                <h2 class = "md-title">Extra 50% Off </h2>
                                <p class = "text-light"><h3>New Collection</h2></p>
                                <button type = "button" class = "btn-dark">Shop now</button>
                            </div>
                        </div>
                        <!-- right -->
                        <div class = "flex">
                            <div class = "product-col-content">
                                <p class = "text-light"><h2>Best Product</h2></p>
                                <h2 class = "sm-title">shoes </h2>
                                <h2 class = "md-title">best sellers </h2>
                                <button type = "button" class = "btn-dark">Shop now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}


    {% block js %}
    <script>
        console.log('working');
        if(localStorage.getItem('cart')==null){
            var cart = {};
        }
        else
        {
            cart = JSON.parse(localStorage.getItem('cart'));
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
        }
        $('.cart').click(function(){
            console.log('clicked');
            var idstr = this.id.toString();
            console.log(idstr);
            if(cart[idstr]!=undefined)
            {
                cart[idstr][0] = cart[idstr][0]+1;
            }
            else
            {
                qty = 1;
                name = document.getElementById('name' + idstr).innerHTML;
                cart[idstr] = [qty, name];
            }
            console.log(cart);
            localStorage.setItem('cart', JSON.stringify(cart));
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
        });
        $('#popcart').popover('show');
        document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your item in my shopping cart</h5>');
    </script>
    {% endblock %}